


ion-card{


  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon-button  {
    align-self: flex-start;


   ion-icon{
    margin: 5px !important;
   }
  }
  .detail {
    flex-grow: 1;
    margin:  10px;
  }
  .detail h2,
  .detail p {
    margin: 0;
  }
  .close-icon {
    cursor: pointer;
  }
  .close-icon {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle-box{
    width: 30px;
    height: 30px;
    margin-right: 15px;
  ion-icon{
    font-size:30px;
  }
  }
  .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 9px;
    border: 2px solid gray;

  }
  .center-div {
    display: flex;
    align-items: center;
    justify-content:flex-end;
  }
}

h2{
  color: #000;

}

h1
{
  margin: 10 0;
  text-align: center;
  color: #000;
  font-weight: 60;
  font-size: 2rem;
}
#todayDate
{
  text-align: center;
}
